<table datatable  [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>first_name</th>
        <th>last_name</th>
        <th>country</th>
        <th>city</th>
        <th>age</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
    <!-- <tfoot>
        <tr>
          <th><input type="text" placeholder="Search ID" name="search-name"/></th>
          <th><input type="text" placeholder="Search first name" name="search-url"/></th>
        </tr>
      </tfoot> -->
  </table>