.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 80vh;
    overflow: hidden;
}
.flex-item{
    // flex:1 5 50%;
    // height: 100%;
    border: 1px solid black;
    flex-grow: 1;
}
.grabber{
    width:10px;
}
.grabber:hover{
    cursor:e-resize;
}
.side-panel{
    background-color: lightgray;  
}

.expanded-detail {
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 16px;
  }
  
  .expanded-detail table {
    width: 100%;
  }
  
  .mat-mdc-row:not(.expanded-row):hover {
    background: whitesmoke;
    cursor: pointer;
  }
  
  .mat-mdc-row:not(.expanded-row):active {
    background: #efefef;
  }

  .test {
    height: fit-content;
  }
  
  .visible {
    height: 0px !important;
    overflow: hidden;
    transition: all 3s ease;
  }

  .fit-content {
    overflow-y: scroll;
  }

