<router-outlet />



<div class="container-fluid mt-1">
    <div class="flex-container">
      <div class="flex-item" #firstElement>
        <h2>Flex container-1</h2>
      </div>
      <div class="grabber" appResize [leftResize]="firstElement" [rightResize]="rightElement"></div>
      <div class="flex-item fit-content" #rightElement>

        <ng-container *ngFor="let group of groups">
          <mat-divider [inset]="false"></mat-divider>
          <button mat-icon-button (click)="toggleGroup(group)">
            <mat-icon>{{ group.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
          </button>{{group.name}}
          <div class="test" [class.visible]="group.expanded">
            <app-datapoint
                        [datapoint]="datapoint"
                        (onSearch)="searchDatapoint($event)"
                        (onValidate)="validateDatapoint($event)"
                        (onRevert)="revertDatapoint($event)"
                        (onDelete)="deleteDatapoint($event)" *ngFor="let datapoint of group.objects">
                      </app-datapoint>
          </div>
        </ng-container>
        <mat-divider [inset]="false"></mat-divider>
        
      </div>
    </div>
  </div>